div.page-header
  h1 新建博文
    small 这里创建新的博文
div.panel.panel-primary
  div.panel-heading 博文字段
  div.panel-body 在此输入文章信息
  form.form-horizontal(role="form")
    div.form-group
      label.col-sm-2.control-label 标题
      div.col-sm-6
        input(type="text" class="form-control" placeholder="输入文章标题")
    div.form-group
      label.col-sm-2.control-label 标题
      div.col-sm-6
        input(type="text" class="form-control" placeholder="输入文章标题")
