doctype html
html(lang="zh-cn")
  head
    title demo-layout
    meta(name='viewport',content='width=device-width,initial-scale=1.0')
    link(rel='stylesheet',href="/css/common/base.css")  
    link(rel='stylesheet',href="/bootstrap/css/bootstrap.min.css")
    link(rel='stylesheet',href="/css/fonts/awesome/font-awesome.css")
    block css
    block js
    body
      block content

      script(src="/bootstrap/js/bootstrap.min.js")
      block footjs

