      footer.footer
        div.nav-link
          ul.ul
            li.it
              a(class=['link','git','overLtxt'], href='github.com') github
            li.it
              a(class=['link','sina','overLtxt'], href='weibo.com') weibo
        div.footer_info
          p.info Copyright © 2006-2013 lanrentuku.com All Rights Reserved. Powered by DedeCMS_V57_GBK_SP1
