extends layout

block content
	div.containor
	header.header
		div.header_bar
		div.header_cont
			ul.header_nav
				li.it
					a.link HOME
				li.it
					a.link blogShare
				li.it
					a.link myLib
				li.it
					a.link aboutAuther
		div.main_content sdfsdfsdf=========
		
extends foot