footer.footer
  section.foot_cnt
    p.txt Copyright © 2011-2014 robinjs.com. Powered by：Jerry ma     粤ICP备06038729
script  var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F03e7a66c27a8e04ffd92c3b6eba001a1' type='text/javascript'%3E%3C/script%3E"));
