header(class="navbar navbar-inverse navbar-fixed-top" role="banner")
    div.navbar-header
      a.navbar-brand 风的沙子
    div(class="collapse navbar-collapse" id="ba-example-navbar-collapse-1")
      ul(class="nav navbar-nav")
        li.active
          a(href="http://", target="_blank") Link
        li
          a(href="http://", target="_blank") Action
        li
          a(href="http://", target="_blank") Another Action
