div(class="page-sidebar")
  ul.page-sidebar-menu
    li.it
      a(href="javascript:;", target="_blank") 目录
    li.it.start.active
      a(href="javascript:;", target="_blank")
        i.glyphicon.glyphicon-list-alt
        span.title 博文列表
        span.arrow
        span.selected
    li.it
      a(href="javascript:;", target="_blank")
        i.glyphicon.glyphicon-comment
        span.title 评论
        span.arrow