.container-fluid { *zoom: 1; }
.container-fluid:before, .container-fluid:after { content: ''; display: table; }
.container-fluid:after { clear: both; }

ul.page-sidebar-menu > li.active .selected { content: ""; height: 0; width: 0; font-size: 0; line-height: 0; overflow: hidden; }

.transparent-background { background-color: transparent; zoom: 1; }

body { background-color: #3d3d3d; padding: 0; margin: 0; font-size: 13px; direction: ltr; color: #000; font-family: "Microsoft Yahei"; }

.page-container { margin-top: 50px; }

.page-sidebar { width: 225px; background-color: #3d3d3d; position: fixed; }

ul.page-sidebar-menu > li > a { border-top: 1px solid #5c5c5c; color: #fff; display: block; position: relative; padding: 10px 5px; text-decoration: none; font-size: 14px; font-weight: 300; }

ul.page-sidebar-menu > li:hover > a { background-color: #333; }

ul.page-sidebar-menu > li > a > i { font-size: 14px; margin-right: 5px; text-shadow: none; line-height: 14px; }

ul.page-sidebar-menu > li > a > span.title { line-height: 14px; display: inline-block; }

ul.page-sidebar-menu > li > a > span.arrow:before { color: #7d7d7d; float: right; margin-top: 1px; margin-right: 5px; display: inline; font-size: 16px; font-family: 'FontAwesome'; height: auto; content: "\f104"; font-weight: 300; }

ul.page-sidebar-menu > li.active > a { background: #e02222 !important; border-top-color: rgba(0, 0, 0, 0) !important; position: relative; }

ul.page-sidebar-menu > li.active .arrow { display: none; }

ul.page-sidebar-menu > li.active .selected { border-right: 10px solid white; border-top: 10px dashed transparent; border-bottom: 10px dashed transparent; position: absolute; right: 0; top: 10px; }

.page-content { margin-left: 225px; background-color: #fff; min-height: 760px; }

.container-fluid { padding: 0 20px; }
